 
  <script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
       <script type="text/x-mathjax-config">
         MathJax.Hub.Config({
           tex2jax: {
             inlineMath: [ ['$','$'], ["\\(","\\)"] ],
             processEscapes: true
           }
         });
       </script>
       <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
       
        <!--netlify admin thing -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
       
       
       
       
       
<nav class="navbar">
    <div class="container">
        <div class="flex">
            <div>
                <a class="brand" href="{{ relURL "/" }}">
                    {{ if .Site.Params.titleEmoji }}
                    <span class="emoji">
                        {{ .Site.Params.titleEmoji }}
                    </span>
                    {{ end }}
                    {{ .Site.Title }}
                    </a>
            </div>
            <div class="flex">
                {{ range .Site.Menus.header }}
                <a href="{{ .URL | relURL }}"{{ if eq .URL $.RelPermalink }} aria-current="page"{{ end }}>{{ .Pre }}{{ .Name }}{{ .Post }}</a>
                {{ end }}
                <button id="dark-mode-button"></button>
            </div>
            </div>
    </div>
</nav>
